version: '3.8'

services:
  app:
    container_name: portfolio-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL}
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
    depends_on:
      - postgres
    networks:
      - portfolio-network
    env_file:
      - .env

  postgres:
    image: postgres:15-alpine
    container_name: portfolio-postgres
    restart: always
    environment:
      POSTGRES_USER: portfolio_prod
      POSTGRES_PASSWORD: yokacPD15e3yY2jXzAyiNw==
      POSTGRES_DB: portfolio_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - portfolio-network
    env_file:
      - .env

volumes:
  postgres_data:


networks:
  portfolio-network:
    driver: bridge
